* {
	box-sizing: border-box;
}

body {
	
}

html {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.8rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: 1.4rem
}

.header {
	padding-top: 0.15rem;
}

.content {
	
}

nav li {
	display: inline;
	margin-left: 1.5rem;
	font-weight: 800;
}

@media only screen and (max-width: 999px) {
	nav li {
		margin-left: 1rem;
	}
}

@media only screen and (min-width: 1000px) {
	.links--main li {
		margin-right: 3rem;
	}
}

.links--main {
	margin-top: 2.0vh;
}

.links--main a:hover, .links--random a:hover, .links--url a:hover, .links--img a:hover, .links--papier a:hover {
	color: tomato;
}

.links--random 

.links--img, .links--random, .links--url, .links--papier {
	z-index: -1;
	animation: 0.15s ease-out links--dropdown;
}

.links {
	margin-bottom: 1rem;
}

@keyframes links--dropdown {
	0% {
		opacity: 0%;
	  	transform: translateY(-1rem);
	}
	100% {
		transform: translateY(0);
	}
}
@media only screen and (max-width: 600px) {
	.links--img--li {
		margin-left: 3.25vw;
	}
}

a {
	color: rgba(30, 30, 30, 1);
	font-weight: 400;
	text-decoration: none;
}

.links--img a:hover {
	color: tomato;
}

.links--img--padding {
	font-weight: 700;
}


@media only screen and (min-width: 1000px) {
	html {
		font-size: 20px;
	}

	.links--main {
	}

	.links--img {
	}
	.links--img--padding {
		font-weight: 700;
	}

	.content {
		padding: 0rem 0.75rem 0rem 0.75rem;
	}	
}

/* Bjr */

.bjr {
	position: relative;
	left: 0;
	top: 0;
	padding: 0 0 0 1.5rem;
	min-width: 100%;
	min-height: 100%;
}

.bjr img {
	max-width: 100%;
}

@media screen and (max-width: 640px) {
	.bjr {
		padding: 0;
	}
}
/* Img Galery */

.gallery {
	/* max-width: 1200px; */
}

.gallery-thumb--row {
	display: flex;
	flex-wrap: wrap;
}

.gallery-thumb--column {
	flex: 20%;
	padding: 0.2rem;
}

.gallery-thumb--column img {
	object-fit: cover;
	margin-bottom: 0.2rem;
}

/* Create four equal columns that sits next to each other */
#pt1-process {
	-ms-flex: 50%;
	flex: 50%;
	padding: 0 3px;
}

@media screen and (max-width: 800px) {
	#pt1-process {
		-ms-flex: 100%;
		flex: 100%;
		padding: 0 3px;
	}
}

@media screen and (max-width: 600px) {
	.gallery-thumb--column {
		-ms-flex: 100%;
		flex: 100%;
		max-width: 100%;
	}

	.links--main {
		margin-left: 0px;
	}

	.nav li {
		margin-left: 0px;
	}
}

.gallery-txt {
	font-family: 'Monospace', 'open-sans';
	margin: -0.5rem 0.25rem 1.25rem 0.25rem;
	padding: 1rem 0.25rem 0.1rem 0.75rem;	
	font-size: 0.75rem;
	font-weight: 400;
	color: rgba(30, 30, 30);
}

.gallery-txt b {
	max-width: 40vw;
	font-weight: 700;
	font-style: italic;
	letter-spacing: 2px;
}
  /* Modal */

#img-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;
	opacity: 0.95;
	z-index: 1000;
}

.img-modal__left, .img-modal__right {
	position: fixed;
	bottom: 0;
	width: 5%;
	height: 80%;
	z-index: 1001;
	float: left;
	min-width: 100px;
}

.img-modal__right {
	
}
.img-modal--img {
	width: 100vw;
	height: 100vh;
	display:flex;
	align-items: center;
	justify-content: center;
}

.img-modal--img img
{
	align-self: center;
	flex: 0 0 auto;
	max-width: 100vw;
	max-height: 100vh;
	object-fit: contain;
	z-index: 50000;
}

.img-modal__right {
	right: 0;
}

.img-modal--left-arrow, .img-modal--right-arrow {
	position: fixed;
	font-size: 4vw;
	color: white;
	font-weight: 200;
	z-index: 5000;
	color: black;
	text-shadow:
	-1px -1px 0 grey,
	1px -1px 0 white,
	-1px 1px 0 white,
	1px 1px 0 white;
}

.img-modal--cross {
	position: fixed;
	z-index: 3000;
	top: 2vh;
	right: 4vw;	
	font-size: 1.25rem;
	font-weight: 400;
	color: black;
	text-shadow:
	-1px -1px 0 white,
	1px -1px 0 white,
	-1px 1px 0 white,
	1px 1px 0 white;
}

.img-modal__left:hover, .img-modal__right:hover, .img-modal--cross:hover {
	cursor: pointer;	
}

.img-modal--left-arrow {
	top: 45vh;
	left: 0.5%;
}

.img-modal--right-arrow {
	top: 45vh;
	text-align: right;
	right: 0.5%;
}

@media screen and (max-width: 700px) {
	.img-modal__left, .img-modal__right {
		display: none;
		width: 0;
	}

}

.rnd img {
	padding: 2vh 1vw 0vw 1vw;
	max-width: 100vw;
}

/* Vids */

.vids--thumbmails {
	margin-top: 4vh;
	padding-top: 0.25rem;
	width: 98vw;
	margin-left: 0.5vw;
}

.vids-title {
	font-weight: 700;
	padding-left: 5vw;
}

/*
.vids--thumbails__left {
	float: left;
	width: 50%;
	margin: auto;
}

.vids--thumbails__left iframe, .vids--thumbmails__right iframe {
}

.vids--thumbmails__right {
	float: right;
	width: 50%;
	margin: auto;
}*/
.embed-container {
	position: relative;
	padding-bottom: 60%;
	height: 0;
	overflow: hidden;
	width: 98vw;
	background-color: black;
	margin-bottom: 0.15rem;
  }
  
  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 98vw;
	max-width: 98vw;
	height: 100%;
  }


/* Info */
#info--txt {
	text-align: center;
	margin-top: 28vh;
	color: black;
	max-width: 100vw;
	line-height: 2rem;
}
